<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/main.css' />
    <title>Artists</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
  
    <h1>ALL  DJs</h1>
    <ul>
    {% for artist in artists %}
    <li> {{artist.name}} </li>
    <li>{{artist.email}}</li>
    {% endfor %}
    </ul>
    {% endblock %}
    
</body>
</html>