<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/main.css' />
    <title>Account</title>

</head>
<body>
    {% extends "layout.html" %}
    {% block content %}

 
    <h1>Welcome to your account</h1>
    <h2><p>Hey, it looks like you don't have an artist profile yet.
        Create one!
    </p>
        <button>Create a profile </button>
    </h2>
    <form>
        <submit>Submit</submit>
    </form>
    {% endblock %}
</body>
</html>