<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/new_gig.css' />
    <link type="text/javascript" src="static/edit_gig.js"/>
    <title>Edit gig</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    
    <form id="edit-gig-form">
        <label for="place">Place:</label>
        <input type="text" id="place" name="place" value="{{gig_data['place']}}" disabled>
        
        <label for="time">Start time:</label>
        <input type="time" id="start-time" name="time" value="{{gig_data['start_time']}}"  required>
        
        <label for="hourly-rate">Hourly Rate:</label>
        <div class="currency-input">
          <span class="currency-symbol">£</span>
          <input type="number" id="hourly-rate" name="hourly-rate" min="0" step="0.01" value="{{gig_data['hourly_rate']}}"  required>
        </div>
        
        <label for="duration">Duration (hours):</label>
        <input type="number" id="duration" name="duration" min="0" step="0.5" value="{{gig_data['duration']}}"  required>
        
        <input id="update-btn" type="submit" value="Submit" >
      </form>
      
      {% endblock %}


</body>