<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/main.css' />
    <title>Gigs</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
   
    <!-- <a href="gigs/create">POST A NEW GIG</a> -->
    {% if is_manager %}
    <button id="post-gig-btn" data-token="{{session['user']['access_token']}}">Post a new gig</button>
    {% else %}

    {% endif %}
    <h1>ALL  GIGS</h1>
    <ul>{%if not gigs %}
        There are no gigs to book
        {%else%}
        {% for gig in gigs %}
        <li>{{gig}}</li> 
        {% endfor %}
        </ul>
        {%endif%}


    <script>
    const post_gig_btn = document.getElementById('post-gig-btn');
    post_gig_btn.onclick = function(e) {
        const token = e.target.dataset['token'];
        fetch('/gigs', {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json',
                    'Authorization': 'Bearer ' + token
                }})
                  .then(function() {
                    window.location.href = '/gigs/create';
                  })
                  .catch(function(e){
                    console.log('error', e)
           
                  })
        }

    </script>
        {% endblock %}
    
</body>

</html>