{% block content %}
    <div class="main-page">
        <div class="navbar">
            <ul>
                <li>Home</li>
                <li>Productions</li>
                <li>About Us</li>
            </ul>
        </div>

        <div class="central-panel">
            <div class="artist-login">

                <button id="artist-login">Artist Login</button>
                <p>
                    {{LOGIN_URL}}
                </p>

            </div>
            <div class="venue-login">
                <button id="venue-login">Venue Login</button>
            </div>

        </div>
    </div>
    {% endblock %}
