<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href='/static/navbar.css' />
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">

</head>
<body>

    <div class="navbar">
        <ul class="ul-navbar">
           
          
            <li class="li-navbar"><a href="/gigs">Gigs</a></li>
            <li class="li-navbar"><a href="/venues">Venues</a></li>
            <li class="li-navbar"><a href="/artists">Artists</a></li>
            {% if session %}
            <li class="li-right"><a href="/logout">Logout</a></li>
            <li class="li-right"><a href="/account">Your Account</a></li>
            {% else %}
            <li class="li-right"><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
  
      

    
</body>
</html>